<!-- Dropdown Structure -->


<nav id="panel-header">
    <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo">JPanel</a>
        <ul class="right hide-on-med-and-down">
            {{#each paths}}
                <li><a href="{{this.path}}">{{this.name}}</a></li>
            {{/each}}

            {{#if isExtras}}
                <li class="dropdown-button">
                    <a href="#!" data-activates="plugins-dropdown">Plugin Pages<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="dropdown-content">
                        {{#each extras}}
                            <a href="{{this.path}}">{{this.name}}</a>
                        {{/each}}
                    </div>
                </li>

            {{/if}}
            <li><a href="/logout" title="Logout">Logout</a></li>
            <li><a href="/switchtheme" title="Change Theme"><i class="material-icons">settings_brightness</i></a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            {{#each paths}}
                <li><a href="{{this.path}}">{{this.name}}</a></li>
            {{/each}}
            <li class="divider"></li>

            {{#each extras}}
                <li><a href="{{this.path}}">{{this.name}}</a></li>
            {{/each}}

            <li class="divider"></li>
            <li><a href="/logout" title="Logout">Logout</a></li>

            <li><a href="/switchtheme">Change Theme</a></li>
        </ul>
    </div>
</nav>
